<?xml version="1.0" ?>
<launch>
	<!-- Load parameter year -->
	<group ns = "masteruvic">
		<rosparam command="load" file="$(find exercise_3_1)/year.yaml" />

	</group>

	<!-- Call RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz"/>

	<!-- Call cam_usb -->
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
</launch>
